*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Tomorrow', sans-serif;
    background: black;
}
#root{
    text-align: center;
    padding: 3rem;
}
#root canvas{
    display: block;
    margin: 0 auto;
}